[Unit]
Description=Run MongoDB Backup daily at 5:00 and 20:00 UTC

[Timer]
OnCalendar=*-*-* 05:00:00
OnCalendar=*-*-* 20:00:00
Persistent=true
Unit=mongo-backup.service

[Install]
WantedBy=timers.target
